// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
*{
    
    font-family: monospace;
}

.buyerbutton {
    background-color: #d7862b !important;
    color: #27536e !important;
}

.sellerbutton {
    background-color: #27536e !important;
    color: #d7862b !important;
}
a{
    color: white !important;
}

body {
    color: aliceblue ; 
    background-color: rgb(73, 185, 245);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(" https://th.bing.com/th/id/R.54adbc096e3ebb1241b4a415de9b4ddb?rik=b94czN7bYM8KnQ&pid=ImgRaw&r=0");
    //https://th.bing.com/th/id/R.54adbc096e3ebb1241b4a415de9b4ddb?rik=b94czN7bYM8KnQ&pid=ImgRaw&r=0
    //https://go.init.st/images/city_animation.gif
}

.blur {
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.transparent {
    background: transparent;
    background-size: 100%;
}

.tableicon {
    filter: invert(100%);
}

.tableangel {
    filter: invert(100%);
    height: 2em;
}

.cardganize {
    display: flex;
    justify-content: center;
    column-gap: 3em;
}

.cardicon {
    height: 2em;
}

.dollar {
    height: 2em;
    filter: invert(55%) sepia(100%) saturate(3.5) hue-rotate(45deg);
}

.piggy {
    filter: invert(84%) sepia(3%) saturate(3131%) hue-rotate(303deg) brightness(88%) contrast(135%);
}

.mouse {
    filter: invert(17%) sepia(84%) saturate(3697%) hue-rotate(317deg) brightness(77%) contrast(94%);
}

.rocket {
    filter: invert(20%) sepia(81%) saturate(4097%) hue-rotate(7deg) brightness(94%) contrast(98%);
}

.login {
    color: #d7862b;
}

.container {
    margin-top: 60px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// Extra
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.calm {
    background-image: none;
}

